{% extends 'base.html.twig' %}

{% block title %}{{parcour.nom}}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/parcour.css') }}">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

{% endblock %}

{% block titre %}
<h1>{{parcour.nom}}</h1>
{% endblock %}

{% block main %}


{# <table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ parcour.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ parcour.nom }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ parcour.description }}</td>
        </tr>
    </tbody>
</table> #}

<section class="parcours_intro">
    <p class="note_parc">Note des visiteurs : {{moyenne}}/5 <i class="bi bi-star-fill"></i></p>
    <p>{{parcour.description}}</p>
    <h4>N'attendez plus, suivez nos pas !</h4>
</section>

<section class="parcour_prez">
    <div class='cadre' id="carte"></div>
</section>

<section class="oeuvres">
    <button class="slick-prev slick-arrow"><i class="bi bi-chevron-left"></i></button>
    <div class="caroussel slick-slider">
        {% for oeuvre in oeuvres %}
        <div class="slick-slide vue">
            <img class="image" src="{{oeuvre.photo}}" alt="{{oeuvre.altImg}}">
            <div class="info">
                <h2>{{oeuvre.nom}}</h2>
                <h3>{{oeuvre.artiste}}</h3>
                <p class="desc">
                    {{oeuvre.descriptionO}}
                </p>
                <div class="adresse_parc">
                    <i class="bi bi-geo-alt-fill"></i>
                    <p>{{oeuvre.adresse}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="slick-next slick-arrow"><i class="bi bi-chevron-right"></i></button>
</section>

{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('app_parcours_index') }}">back to list</a>
<a href="{{ path('app_parcours_edit', {'id': parcour.id}) }}">edit</a>
{{ include('parcours/_delete_form.html.twig') }}
{% endif %}

<section class="commentaire_parc">
    <h2>Commentaires</h2>

    <div class="connexion comments">
        <div class="connectez">
            <p><i>Vous voulez laissez un avis ?</i></p>
            <a href="{{ path('app_login') }}">Connectez-vous !</a>
        </div>
        <div class="inscrivez">
            <p><i>Vous n'avez pas de compte ?</i></p>
            <a href="{{path('app_register')}}">Inscrivez-vous !</a>
        </div>
    </div>
    {% if app.user %}
    <div class="formulaire comments">
        <form action="{{ path('app_parcours_send_comment', { id: parcour.id })}}" method="post">
            <input type="hidden" name="id" value="{{ parcour.id }}">
            <div class="test">
                {# <p>De : {{ app.user.pseudo }}</p> #}
                <div>
                    <label for="select-note">Note de :</label>
                    <select name="note" id="select-note">
                        <option value="">--Choisssez une option--</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <span><i class="bi bi-star-fill"></i></span>
                </div>
            </div>
            <input type="text" name="titre">
            <div class="test2">
                <textarea name="message"></textarea>
                <input type="submit" value="Envoyer">
            </div>
        </form>
    </div>
    {% endif %}
    {% for comment in comments %}
    <div class="comments">
        <div class="notation bold">
            <p>{{comment.titre}}</p>
            <p>Note : {{comment.note}}/5 <i class="bi bi-star-fill"></i></p>
        </div>
        <div class="comment_txt">
            <p>{{comment.comment}} </p>
        </div>
    </div>
    {% endfor %}

</section>

{% endblock %}


{% block script %}
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoEhsbrYlLG5Wcm7fNmnW6NuUcjszHT3Q&callback=initMap">
</script>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{ asset('js/parc.js') }}"></script>
{% endblock %}